/*
=== Reset
=== source: http://muki.tw/tech/reset-share-by-muki/
*/

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, input, button,textarea, p, blockquote, th, td, figure {
	margin: 0;
	padding: 0;
}
img {border: 0;}
:focus {outline: 0;}
h1, h2, h3, h4, h5, h6 {font-size: 100%;font-weight: normal;}
input, button, textarea,select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
}
code, kbd, samp, tt {font-size: 100%;}
 
/*purpose To enable resizing for IE */
/*branch For IE6-Win, IE7-Win */
input, button, textarea, select {*font-size: 100%;}
body {line-height: 180%;}
ol, ul, li {list-style: none;}
:link, :visited , ins {text-decoration: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}
 
/*HTML5 tag*/
section, article, aside, footer, header, nav, main {
	display: block;
}

/*Base*/

body {
	font-family: arial, sans-serif;
	font-size: 1em;
	line-height: 150%;
}

a {
    
}

input {
    font-size: 4pt;
    border-radius: 50px;
    height: 20px;
    width: 200px;
}

h4 {
    letter-spacing: .1em;
}

p {
	margin: 1em 0;
    letter-spacing: .2em;
}

header {
	background: black;
	height: 95px;
}

/* 不能固定 */
header.sticky {
	width: 100%;
	z-index: 2;
}

/*layout*/

.container {
    width: 1260px;
    margin: 0 auto;
}

.footer {
    background: black;
    height: 95px;
}


/*header*/

.nav {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 26.6px;
    margin-right: 15px;
}

.logo {
    width: 230px;
    height: 70px;
    float: left;
    margin-top: 20.5px;
}

.searchbar {
    width: 260px;
    height: 32px;
    float: right;
    margin-top: 31.5px;
}

.searchbar span {
    height: 10px;
    position: relative;
    right: -28px;
    top: 4px
}

/*navigator*/

.nv-wrapper {
    width: 1440px;
    height: 706px;
    background: #333;
    color: white;
	display: none;
}

.nv-content {
    height: 506px;
    padding: 120px 100px 80px 100px;
    overflow: hidden;

}

.nv-work {
    width: 210px;
    height: 460px;
    float: left;
    border-right: 2px solid white;
}


.nv-title {
    font-size: 24pt;
    display: inline-block;
    
}

.nv-sub-title {
    font-size: 12pt;
    display: inline-block;
}

.nv-sub-title span::after {
    content: "/";
}

.nv-sub-title a {
    color: #7B818C;
}

.nv-sub-title a:hover {
    color: white;
}

.nv-sub-title a:focus {
    color: #36BEC3;
}

.nv-link {
    padding: 20px 0;
    
}

.nv-link a {
    color: #7B818C;
    
}

.nv-link a:hover{
    color: white;
}


.nv-work li {
    margin: 20px 0;
    font-size: 14pt;
}

.nv-work li:nth-child(1) span:before {
    content: url("http://placehold.it/30x30");
    
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(2) span:before {
    content:  url("http://placehold.it/30x30");
    
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(3) span:before {
    content:  url("http://placehold.it/30x30");
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(4) span:before {
    content:  url("http://placehold.it/30x30");
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(5) span:before {
    content:  url("http://placehold.it/30x30");
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(6) span:before {
    content:  url("http://placehold.it/30x30");
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}

.nv-work li:nth-child(7) span:before {
    content:  url("http://placehold.it/30x30");
    display: inline-block;
    width: 2.25rem;
    height: 2.25rem;
    margin-right: 0.75rem;
    background-position: center;
    background-repeat: no-repeat;
    vertical-align: middle;
}


.nv-ability {
    width: 560px;
    height: 230px;
    float: left;
    border-bottom: 2px solid white;
    padding: 0 40px;
}


.nv-ability li {
    margin: 20px 20px 20px 0;
    font-size: 14pt;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.nv-name {
    margin-top: 5px;
}

.nv-ability li:nth-child(1) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-ability li:nth-child(2) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-ability li:nth-child(3) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-ability li:nth-child(4) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-view {
    width: 560px;
    height: 230px;
    float: left;
    padding: 0 40px;
    margin-top: 40px;
}

.nv-view li {
    margin: 20px 20px 20px 0;
    font-size: 14pt;
    display: inline-block;
    text-align: center;
    width: 100px;
}

.nv-view li:nth-child(1) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-view li:nth-child(2) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-view li:nth-child(3) span:before {
    content: url("http://placehold.it/30x30");
}

.nv-view li:nth-child(4) span:before {
    content: url("http://placehold.it/30x30");
}








/*container*/

.img-caseshow {
    margin-top: 30px;
	overflow: hidden;
	
}

.hottest-news {
    width: 940px;
    margin-right: 20px;
    float: left;
    position: relative;
}


.hottest-news-article {
    height: 626px;
    position: absolute;
}


.article-hottest-wrap {
    position: relative;
    top: -180px;
    padding-left: 30px
}

.article-hottest-wrap h4 {
	font-size: 24px;
	font-weight: bold;
	line-height: 50px;
	max-width: 900px;
	color: white;
}

.article-hottest-wrap p {
	color: white;
	font-size: 12px;
    max-height: 70px;
    max-width: 800px;
    overflow: hidden;
	line-height: 2em;
}

.whats-news {
    width: 300px;
    height: 626px;
    float: right;
}

.whats-news-title {
    text-align: center;
    background: dimgray;
    color: white;
    padding: 10px 0 ;
}

.whats-news-items {
    height: 117px;
}

.whats-news-wrap {
    text-align: center;
	margin: 0 auto;
    position: relative;
    top: -82px;
    font-size: 10pt;
	color: white;
	letter-spacing: normal;
	padding: 0 10px;
	max-width: 240px;
	max-height: 50px;
	overflow: hidden;
	
}

/*main 的 css*/

.main{
    width:640px;
    background:yellow;
}


.channel-title{
     padding-top: 16px;
    font-size: 40px;
    padding-bottom:  8px;
     border-bottom: 3px solid black;
}

.cate-list li{
   position: relative;
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em;
}


/*sidebar的css，還在嘗試當中*/

.sidebar {
     width: 300px;
    height: 626px;
    float: right;
    background: gray;
}



h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
    color:white;
}

.sidebar-title{
    padding-top: 16px;
    font-size: 16px;
    border-bottom: 2px solid black;
}

.sidebar-item:hover {
    background-color: #d6eff2;
}
.sidebar .sidebar-item {
    padding: 12px 20px;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    display: block;
    color:white;
}

a {
    text-decoration: none;
    color: #151719;
    transition: all 150ms ease;
}



/*footer的css. 還在嘗試當中*/

.ft-contact {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 22.5px;
    margin-right: 15px;
}

.ft-about {
    width: 50px;
    height: 50px;
    float: left;
    margin-top: 22.5px;
    margin-right: 15px;
}

.social-media {
    width: 260px;
    height: 32px;
    float: right;
    margin-top: 31.5px;
}


.social-media li {
	display: inline-block;
}


















